<table class="table-users">
  <tr class="table-headers">
    <th>No</th>
    <th>Profile</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
  </tr>

  <tr class="table-content" v-for="user in arr" :key="user.id">
    <td>{{ user.id }}</td>
    <td class="profile">
      <img v-if="user.picture_url" :src="user.picture_url" />
      <img v-else src="../assets/images/user.png" />
      <span>{{ user.name }} {{ user.surname }}</span>
    </td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td class="action">
      <button @click="showEditUserPage(user)" class="edit-btn">Edit</button>
      <button @click="handleUserDelete(user)" class="delete-btn">Delete</button>
    </td>
  </tr>
</table>
